<div class="header">
    <h1 class="logo"><a href="#">LFA HackClub</a></h1>
    <div class="main-nav">
        <div><a href="#"><% if(page == "home") { %><b><% } %>Home<% if(page == "home") { %></b><% } %></a></div>
        <div><a href="#"><% if(page == "about") { %><b><% } %>About<% if(page == "home") { %></b><% } %></a></div>
        <div><a href="#"><% if(page == "projects") { %><b><% } %>Projects<% if(page == "home") { %></b><% } %></a></div>
        <div><a href="#"><% if(page == "contact") { %><b><% } %>Contact<% if(page == "home") { %></b><% } %></a></div>
    </ul>
</div>